{% extends 'acceuil/index.html' %}

{% block title %}login
{% endblock title %}

{% block body %} 


    <div class="container position-absolute top-50 start-50 translate-middle">
        <h1 class="text-center">connexion</h1>
        <div class="row">
            <div class="col-md-5 mx-auto">
                <form method="POST" enctype="multipart/form-data">
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="text-danger"><strong>{{ error }}</strong></p>
                        {% endfor %}
                    {% endif %}
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            
                            {% if field.help_text %}
                                <p class="help">{{ field.help_text }}</p>
                            {% endif %}
                            {% if field.errors %}
                               {% for error in field.errors %}
                                    <p class="text-danger"><strong>{{ error }}</strong></p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
                        <div class="p-2">
                            <input type="submit" value="submit" class="btn btn-primary ">
                        </div>
                        
                </form>
            </div>
        </div>

    </div>


   
{% endblock body %}