<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Acceuil{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% load static %}
    <script src="{% static 'acceuil/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'acceuil/js/jquery.min.js' %}"></script>
    <script src="{% static 'acceuil/js/popper.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'acceuil/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'acceuil/css/style.css' %}">
    
    
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4 ">
            <div class="container">
                <a class="navbar-brand" href="{% url 'acceuil:index' %}">Eduarnaque</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                        <a class="nav-link" href="/">Acceuil</a>
                        </li>

                        {% comment %} utilisateur_connecte {% endcomment %}
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">Forum</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Salle</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'compte:logout' %}">Deconnexion</a>
                            </li>
                            
                            {% comment %} utilisateur non connecte {% endcomment %}
                        {% else %}
                            <li class="nav-item">
                            <a class="nav-link" href="{% url 'compte:login' %}">Se connecter</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="{% url 'compte:inscription' %}">S'inscrire</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Aide</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
                    </form>
                </div>
            </div>
    </nav>
    </div>
    
</head>
<body>
    {% block body %}

    <section class="fontac">

        <div class="container ">
            <div class="row">
                <div class="col"></div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col position-absolute top-50 start-50 translate-middle p-5">
                    <h2>EDUARNAQUE</h2>
                    <p>Sur Eduarnaque, apprenez la cyber-securite en jouant</p>
                    <form class="d-flex" action="">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'game:liste' 1 %}" class="btn btn-primary">Continuer le jeux</a>  
                        {% else %}
                            <a href="{% url 'acceuil:level'  %}" class="btn btn-primary">Commencer le jeux</a>
                        {% endif %}
                        
                    </form>
                </div>
                <div class="col"></div>
            </div>
        </div>


    </section>
        


    {% endblock body %}
    
 
</body>
</html>