{% extends 'acceuil/index.html' %}

{% block title %}niveau
{% endblock title %}

{% block body %} 

<div class="container position-absolute top-50 start-50 translate-middle">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <form method="POST" action="{% url 'compte:login' %}" enctype="multipart/form-data">
                    <h1 class="text-center">connexion</h1>
                    {% if con.non_field_errors %}
                        {% for error in con.non_field_errors %}
                            <p class="text-danger"><strong>{{ error }}</strong></p>
                        {% endfor %}
                    {% endif %}
                    {% csrf_token %}
                    {% for field in con %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            
                            {% if field.help_text %}
                                <p class="help">{{ field.help_text }}</p>
                            {% endif %}
                            {% if field.errors %}
                               {% for error in field.errors %}
                                    <p class="text-danger"><strong>{{ error }}</strong></p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
                        <div class="p-2">
                            <input type="submit" value="submit" class="btn btn-primary ">
                            <a href="{% url 'game:liste' 1 %}" class="btn btn-primary">jouer sans connexion</a>
                        </div>
                        <p>vous n'avez pas de compte ?<br>
                            <a href="{% url 'compte:inscription' %}" class="btn btn-primary">S'inscrire</a>
                        </p>
                        
                </form>
            </div>
        </div>

    </div>


    

{% endblock body %}