{% extends 'acceuil/index.html' %}

{% block title %}liste
{% endblock title %}


{% block body %}

    <script type="text/javascript">
      $(document).ready(function(){
        $("input[type='button']").click(function(){
          var val = $("input[name='niveau']:checked").val();
          if(val){
            var e.document.getElementById("niv").InnerHTML = "val";
          }
        });
        
      });
      
    </script>
  </head> 
  <body>
    <h5>Quel est votre langage de programmation préféré?</h5>
    <p> 
      <label><input type="radio" name="niveau" value="1">facile</label><br> 
      <label><input type="radio" name="niveau" value="2">moyen</label><br>
      <label><input type="radio" name="niveau" value="3">difficile</label><br>
     
    </p>
    <input type="button" value="Continuer">
    <p id="div"></p>

{% endblock body %}