{% extends 'acceuil/index.html' %}

{% block title %}liste
{% endblock title %}

{% block body %}

<div class="container">
    <div class="row">
     <div class="col">
        <div class="row ">
                <div class="card">
                <div class="row">
                    <div class="col">
                            <div class="card-body">      
                                    <h5 class="card-title">{{ stage.titre }}</h5>
                                    <p class="card-text">{{ stage.contenu }}</p>
                                    <a href="{% url 'game:questions' %}" class="btn btn-primary">Questions</a>
                            </div>
                    </div>
                    <div class="col">
                        {% if stage.img %}
                            <img src="{{stage.img.url}}" class="card-img-top" alt="">
                        {% endif %}
                    </div>
                </div>
            
            
                
            </div>
                

        </div>
     </div>
    </div>
</div>
           

{% endblock body %}

