{% extends 'acceuil/index.html' %}

{% block title %}liste
{% endblock title %}

{% block body %}

    <div class="container">
    <div class="row">
     <div class="col-9">
        <div class="row row-cols-md-3 row-cols-sm-1">
                {% for st in stage %}
                    <div class="card" style="width: 18rem">
                    
                    {% if st.img %}
                         <img src="{{st.img.url}}" class="card-img-top" alt="">
                    {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title"> etape {{st.id}}</h5>
                                    <p class="card-text">{{st.titre}}</p>
                                    <a href="{% url 'game:detail' st.id %}" class="btn btn-primary">Ouvrir</a>
                                </div>
                        </div>
                {% endfor %}

        </div>
    </div>
            
    <div class="col-3">

         <h5>Liste des etapes</p>
        {% for s in stage %}
            <div class="row row-cols-md-2 row-cols-sm-1">
                <p><a href="{% url 'game:detail' s.id %}" class="btn btn-primary">etape {{st.id}}</a></p>
            </div>
            
        {% endfor %}     
         
    </div>
           
           
    </div>
    </div>
           

{% endblock body %}

