{% extends 'acceuil/index.html' %}

{% block title %}liste
{% endblock title %}
{% load static %}
{% block body %}
    <div class="container">
    <div class="row">
     <div class="col-9">
        <div class="row row-cols-md-3 row-cols-sm-1">
                {% for s in sc %}
                    <div class="card" style="width: 18rem">
                                
                                <img src="{{s.img.url}}" class="card-img-top" alt="">
                                
                                <div class="card-body">
                                    <h5 class="card-title">{{s.titre}}</h5>
                                    <p class="card-text">{{s.description}}</p>
                                    <a href="{% url 'game:etape' s.id %}" class="btn btn-primary">Ouvrir</a>
                                </div> 
                        </div>
                {% endfor %}

        </div>
    </div>
            
    <div class="col-3">

         <h5>Liste de scenarios</p>
        {% for s in sc %}
            <div class="row row-cols-md-2 row-cols-sm-1">
                <p><a href="{% url 'game:etape' s.id %}" class="btn btn-primary">Scenario {{s.id}}</a></p>
            </div>
            
        {% endfor %}     
         
    </div>
           
           
    </div>
    </div>
           
       
{% endblock body %}