{% extends 'acceuil/index.html' %}

{% block title %}liste
{% endblock title %}


{% block body%}
    
    <script>
    
    </script>
    <div class="container">
        <h1>Questions</h1>
        <div>
            {% for i in qu %}
                <table>
                <tr>
                    <td class="text-primary">{{i.id}} ) {{i.question}}</td>
                </tr>
                <tr>
                    <td><input type="radio" class="rb" name={{i.id}} id="res1" value="{{i.res1}}">{{i.res1}}</td>
                </tr>
                <tr>
                    <td><input type="radio" class="rb" name={{i.id}} id="res2" value="{{i.res2}}">{{i.res2}}</td>
                </tr>
                <tr>
                    <td><input type="radio" class="rb" name={{i.id}} id="res3" value="{{i.res3}}">{{i.res3}}</td>
                </tr>
                <tr>
                    <td><input type="radio" class="rb" name={{i.id}} id="res1" value="{{i.res1}}">{{i.res4}}</td>
                </tr>
                <tr>
                    <td><input type="radio" class="rb" name={{i.id}} id="reponse" value="{{i.reponse}}">{{i.reponse}}</td>
                </tr>
            </table>
            {% endfor %}
            
        </div>
    </div>

{% endblock body%}